{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Students</h2>

<table>
  <tr>
    <th>Register ID</th>
    <th>Name</th>
    <th>Total %</th>
    <th>Subject-wise Attendance</th>
  </tr>

  {% for s in students %}
  <tr>
    <td>{{ s.student_id }}</td>
    <td>{{ s.name }}</td>
    <td>
      <span class="badge {{ 'green' if s.percentage >= 75 else 'red' }}">
        {{ s.percentage }}%
      </span>
    </td>
    <td>
      {% for sub in s.subjects %}
        <div>
          <strong>{{ sub.subject }}</strong> : {{ sub.attended }}
        </div>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
